.AddTable {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 20px 50px -15px rgba(138, 138, 138, 0.8);
    border: 1px solid rgba(138, 138, 138, 0.5);
    width: 100%;
    padding: 3rem;
    margin: auto;

    &__select {
        opacity: 0.7;
        width: calc(100% - 60px);
        
        &:focus {
            opacity: 1;
        }
    }

    &__btn_err {
        position: absolute;
        top: 25px;
        right: 0;
        padding: 10px;
        height: 39px;
        width: 39px;
    }
    
    &__btn_suc {
        margin: 0.9375rem;
        padding: 10px;
        height: 39px;
        width: 39px;
    }
}