.Auth {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    box-shadow: 0 20px 50px -15px rgba(138, 138, 138, 0.8);
    border: 1px solid rgba(138, 138, 138, 0.5);
    width: 100%;
    margin: auto;
    
    &__block {
        width: 100%;
        text-align: center;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__delimiter {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        text-transform: uppercase;

        &:before {
            position: absolute;
            content: '';
            border-left: 1px solid rgba(138, 138, 138, 0.25);
            border-right: 1px solid rgba(138, 138, 138, 0.25);
            width: 0%;
            height: calc(50% - 1rem);
            bottom: 0;
        }
        
        &:after {
            position: absolute;
            content: '';
            border-left: 1px solid rgba(138, 138, 138, 0.25);
            border-right: 1px solid rgba(138, 138, 138, 0.25);
            width: 0%;
            height: calc(50% - 1rem);
            top: 0;
        }
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;

        &__delimiter {
            &:before {
                left: 0;
                border-top: 1px solid rgba(138, 138, 138, 0.25);
                border-bottom: 1px solid rgba(138, 138, 138, 0.25);
                bottom: auto;
                width: calc(50% - 1.5rem);
            }
            
            &:after {
                right: 0;
                border-top: 1px solid rgba(138, 138, 138, 0.25);
                border-bottom: 1px solid rgba(138, 138, 138, 0.25);
                top: auto;
                width: calc(50% - 1.5rem);
            }
        }
    }
}
